
.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
    mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
}

.carousel-track {
    display: flex;
    gap: 20px;
    animation: scroll 60s linear infinite;
}

.carousel-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes scroll-reverse {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0);
    }
}

.profile-stats-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
    mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
}

.profile-stats {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    animation: scroll-reverse 60s linear infinite;
}

.profile-stats:hover {
    animation-play-state: paused;
}

skill-card {
    cursor: pointer;
    flex-shrink: 0; /* Prevent cards from shrinking */
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

#contact-form label {
    margin-bottom: 5px;
    color: var(--accent-color);
}

#contact-form input, #contact-form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--accent-color);
    background-color: var(--card-color);
    color: var(--text-color);
}

#contact-form button {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: var(--header-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

#contact-form button:hover {
    background-color: #88d4f7;
}
